body {
    background-image:url('https://images.unsplash.com/photo-1589124223359-1ef39c61ee88?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 body > .navbar  {
    background-color: #333333;
    
}
.navbar-brand {
    font-weight: bold;
    font-size: 30px !important;
    font-family: cursive;
}
.container-fluid {
    justify-content: center !important;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }

  .card-body {
    box-shadow: -11px 10px 43px -5px rgba(0,0,0,0.73);
    -webkit-box-shadow: -11px 10px 43px -5px rgba(0,0,0,0.73);
    -moz-box-shadow: -11px 10px 43px -5px rgba(0,0,0,0.73);
    background-color: #eee;
    transition: .5s all;
  }
  .card-body:hover {
    transform: scale(1.02);
  }

  .card-body button,.card-body input, .card-body select {
    background-color: transparent !important;
    padding: 6px !important;
    border-radius: 8px !important;
    border-width: 1px;
  }

